<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div>
            Found products
            <select id="pageSelector" class="pull-right" [(ngModel)]="pageSize"
                    (change)="onChangePageSize()">
                <option [ngValue]='5'>5</option>
                <option [ngValue]='10'>10</option>
                <option [ngValue]='25'>25</option>
                <option [ngValue]='50'>50</option>
            </select>
            <label for="pageSelector" class="pull-right">Count of products in page</label>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost($)</th>
            <th>Type</th>
            <th>Details</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.type}}</td>
            <td>{{product.details}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(product.id)">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
        <div class="btn-group">
            <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
        </div>
        <div class="btn-group pull-right">
            <ul class="pagination">
                <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}"><a (click)="prevPage()">Prev</a>
                </li>
                <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}"><a (click)="nextPage()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
