<h4><small>Found products</small></h4>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Type</th>
            <th>Details</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.type}}</td>
            <td>{{product.details}}</td>
            <td>
                <button class="btn btn-warning" *ngIf="canWorkWithProduct()" (click)="onEdit(product.id)">Edit</button>
                <button class="btn btn-danger" *ngIf="canWorkWithProduct()" (click)="onDelete(product.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>