<div class="container-fluid">
    <div class="col-md-6">
        <div class="panel-body">
            <h3>Currently used stocks:</h3>
            <div *ngFor="let stock of stockList">
                <a [routerLink]="['/stock', 'detail', stock.id]">{{stock.specialize}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-body">
            <h3>Another available stocks:</h3>
            <div *ngFor="let stock of availableStocks">
                <a href="#">{{stock.specialize}}</a>
                <a class="btn" (click)="onAddStock(stock.id)">Add</a>
            </div>
        </div>
    </div>
</div>
