<h2>All entites from database</h2>

<div>
    <ul>
        <li *ngFor="let product of productList">
            <div style="border: 1px solid black; margin-top: 3px;">
                <p>Id: {{product.id}}</p>
                <p>Name: {{product.name}}</p>
                <p>Cost: {{product.cost}}</p>
                <p>Type: {{product.type}}</p>
                <button>Edit</button>
                <button (click)="onDelete(product.id)">Delete</button>
            </div>
        </li>
    </ul>
</div>