<div class="panel panel-default">

    <div class="col-lg-6 col-md-12 col-sm-12">
        <h3></h3>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Stock details</h4></div>
            <div class="panel-body">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="col-sm-12">

                            <div class="col-sm-5 col-xs-6 tital ">Id:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.id}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Specialize:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.specialize}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Phone:</div>
                            <div class="col-sm-7">{{stock.phone}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Address:</div>
                            <div class="col-sm-7">{{stock.address}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Square:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.square}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Open time:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.open_time}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Close time:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.close_time}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Manager id:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.managerId}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3></h3>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h4>Products, available in warehouse</h4></div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{'Name' | translate}}</th>
                        <th>{{'Cost' | translate}}($)</th>
                        <th>{{'Type' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of selectedProducts">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.cost}}</td>
                        <td>{{product.type}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>