<div class="panel panel-default">

    <div class="col-lg-6 col-md-12 col-sm-12">
        <h3></h3>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Stock details</h4></div>
            <div class="panel-body">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="col-sm-12">

                            <div class="col-sm-5 col-xs-6 tital ">Id:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.id}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Specialize:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.specialize}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Phone:</div>
                            <div class="col-sm-7">{{stock.phone}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Address:</div>
                            <div class="col-sm-7">{{stock.address}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Square:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.square}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Open time:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.open_time}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Close time:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.close_time}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Manager id:</div>
                            <div class="col-sm-7 col-xs-6 ">{{stock.managerId}}</div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3></h3>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h4>Products, available in warehouse</h4></div>
            <div class="panel-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" (click)="loadPossibleProducts()" data-target="#myModal">+
                </button>
                <table class="table table-bordered table-striped table-hover" *ngIf="selectedProducts">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{'Name' | translate}}</th>
                        <th>{{'Cost' | translate}}($)</th>
                        <th>{{'Type' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of selectedProducts">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.cost}}</td>
                        <td>{{product.type}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog custom-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Available products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <div>
                                    <label class="pull-left">{{'Total:' | translate}} {{filteredItems.length}}</label>
                                    {{'Found products' | translate}}
                                    <select id="pageSelector" class="pull-right" [(ngModel)]="pageSize"
                                            (change)="onChangePageSize()">
                                        <option [ngValue]=5>5</option>
                                        <option [ngValue]=10>10</option>
                                        <option [ngValue]=25>25</option>
                                        <option [ngValue]=50>50</option>
                                    </select>
                                    <label for="pageSelector" class="pull-right">{{'items in page' | translate}}</label>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>{{'Name' | translate}}</th>
                                    <th>{{'Cost' | translate}}($)</th>
                                    <th>{{'Type' | translate}}</th>
                                    <th>{{'Details' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of productList">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.cost}}</td>
                                    <td>{{product.type}}</td>
                                    <td>{{product.details}}</td>
                                    <td><a class="btn" (click)="onAddProduct(product)">Add</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-toolbar pagination-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <label class="pagination-label">{{'Page' | translate}}
                                        {{currentIndex}}/{{pages}}</label>
                                </div>
                                <div class="btn-group pull-right">
                                    <ul class="pagination">
                                        <li [ngClass]="{'disabled': (currentIndex == 1 || pages == 0)}">
                                            <a class="btn" (click)="prevPage()">{{'Prev' | translate}}</a>
                                        </li>
                                        <li *ngFor="let page of pagesIndex"
                                            [ngClass]="{'active': (currentIndex == page)}">
                                            <a class="btn" (click)="setPage(page)">{{page}}</a>
                                        </li>
                                        <li [ngClass]="{'disabled': (currentIndex == pages || pages == 0)}">
                                            <a class="btn" (click)="nextPage()">{{'Next' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>