<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-12">
            <h2 class="page-header">
                {{'Products management' | translate}}
            </h2>
        </div>
        <div class="col-sm-2 sidenav">
            <h3>{{'Navigation' | translate}}</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a routerLink="product-content" routerLinkActive="active"><span
                        class="glyphicon glyphicon-th-list"></span> {{'All products' | translate}}</a></li>
                <li><a routerLink="product-create" routerLinkActive="active"><span
                        class="glyphicon glyphicon-plus-sign"></span> {{'Add product' | translate}}</a></li>
                <li><a routerLink="product-search" routerLinkActive="active"><span
                        class="glyphicon glyphicon-search"></span> {{'Search' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
