<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/user">User</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/product">Product</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/stock">Stock</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/store">Store</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="!isLoggedIn()">
                <a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>