<div *ngIf="showNotification">
    <div *ngIf="message && message.type === 'success'" class="warning alert-success alert-dismissable fade in"
         [ngClass]="{ 'alert': message}">
        <a (click)="close()" class="close">×</a> {{message.text}}
    </div>
    <div *ngIf="message && message.type === 'warning'" class="warning alert-warning alert-dismissable fade in"
         [ngClass]="{ 'alert': message}">
        <a (click)="close()" class="close">×</a> {{message.text}}
    </div>
    <div *ngIf="message && message.type === 'error'" class="warning alert-danger alert-dismissable fade in"
         [ngClass]="{ 'alert': message }">
        <a (click)="close()" class="close">×</a>
        <strong>
            Warning!
        </strong>
        <br/>
        {{message.text}}
    </div>
</div>