<h3>{{'Product Search' | translate}}</h3>
<br/>
<form (ngSubmit)="onSubmit()">
    <label for="keyword">{{'Input name' | translate}}</label>
    <div class="input-group">
        <input name="keyword" type="text" class="form-control" [(ngModel)]="keyword" required>
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
    </div>
</form>
<div *ngIf="findProducts" class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{'Name' | translate}}</th>
            <th>{{'Cost' | translate}}($)</th>
            <th>{{'Type' | translate}}</th>
            <th>{{'Details' | translate}}</th>
            <th>{{'Operations' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of findProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.type}}</td>
            <td>{{product.details}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(product.id)">{{'Edit' | translate}}</button>
                <button class="btn btn-danger" (click)="onDelete(product.id)">{{'Remove' | translate}}</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>