<h3>Product Search</h3>
<br/>
<label for="keyword">Input name</label>
<div class="input-group">
    <input name="keyword" type="text" class="form-control" [(ngModel)]="keyword">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="onSubmit()">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>

<div *ngIf="findProducts" class="panel">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of findProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.type}}</td>
            <td>{{product.details}}</td>
            <td>
                <button *ngIf="canWorkWithProduct()" (click)="onEdit(product.id)">Edit</button>
                <button *ngIf="canWorkWithProduct()" (click)="onDelete(product.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>