<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div>
            <label class="pull-left">Total: {{filteredItems.length}} stocks</label>
            Found stock list
            <select id="pageSelector" class="pull-right" [(ngModel)]="pageSize"
                    (change)="onChangePageSize()">
                <option [ngValue]=5>5</option>
                <option [ngValue]=10>10</option>
                <option [ngValue]=25>25</option>
                <option [ngValue]=50>50</option>
            </select>
            <label for="pageSelector" class="pull-right">items in page</label>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Specialize</th>
            <th>Products</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Square(m<sup><small>2</small></sup>)</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stock of stockList">
            <td>{{stock.id}}</td>
            <td>{{stock.specialize}}</td>
            <td>
                <p *ngFor="let product of stock.productList">ID: {{product.id}}, NAME: {{product.name}}.</p>
            </td>
            <td>{{stock.address}}</td>
            <td>{{stock.phone}}</td>
            <td>{{stock.square}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(stock.id)">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(stock.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
        <div class="btn-group">
            <label style="margin-top:10px">Page {{currentIndex}}/{{pages}}</label>
        </div>
        <div class="btn-group pull-right">
            <ul class="pagination">
                <li [ngClass]="{'disabled': (currentIndex == 1 || pages == 0)}"><a (click)="prevPage()">Prev</a>
                </li>
                <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{'disabled': (currentIndex == pages || pages == 0)}"><a (click)="nextPage()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
