<div class="col-lg-12">
    <h2 class="page-header">
        All stores in system
    </h2>
</div>
<div class="panel">
    <div class="row">
        <div class="col-md-4" *ngFor="let store of storeList">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-shopping-cart"></span> {{store.name}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{store.details}}</p>
                    <a class="btn btn-default" (click)="onDetails(store.id)">More</a>
                    <a class="btn btn-warning"*ngIf="canWorkWithStore()" (click)="onEdit(store.id)">Edit</a>
                    <a class="btn btn-danger"*ngIf="canWorkWithStore()" (click)="onDelete(store.id)">Delete</a>
                </div>
                <div class="panel-footer">{{store.phone}}</div>
            </div>
        </div>
    </div>
</div>
<br/>