<h2>All entites from database</h2>
<div class="panel">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stocks</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let store of storeList">
            <td>{{store.id}}</td>
            <td>{{store.name}}</td>
            <td *ngFor="let stock of store.stockList">{{stock.id}}.{{stock.specialize}}</td>
            <td>
                <button *ngIf="isAdmin()" (click)="onEdit(store.id)">Edit</button>
                <button *ngIf="isAdmin()" (click)="onDelete(store.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>