.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-valid[pattern], .ng-valid.pattern  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

img {
    max-width: 100%;
    max-height: 100%;
}