<!--<div class="panel">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(user.id)">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(user.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>-->