<!--<div class="panel">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(user.id)">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(user.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>-->

<div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">Users in system</div>
        <div class="panel-body">
            <div *ngFor="let user of userList">
                <button type="button" class="list-group-item" (click)="onSelect(user)">
                    {{user.username}}
                </button>

            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedUser" class="col-sm-8">
    <user-update-component [userId]="selectedUser.id"></user-update-component>
</div>