<div *ngIf="selectedStore" class="col-sm-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>{{'Welcome to' | translate}} {{selectedStore.name}}</h2>
        </div>
        <div class="panel-body">
            <div>
                <p *ngIf="selectedStore.details"><b>{{'Details' | translate}}: </b>{{selectedStore.details}}</p>
                <p *ngIf="selectedStore.discounts"><b>{{'Discounts' | translate}}:</b> {{selectedStore.discounts}}</p>
                <div *ngIf="selectedStore.address">
                    <h4>{{'Address' | translate}}</h4>
                    <address>
                        <strong>{{selectedStore.name}}</strong>
                        <br>
                        {{selectedStore.address}}
                        <br>
                        <abbr title="Phone">{{'Phone' | translate}}:</abbr>{{selectedStore.phone}}
                    </address>
                </div>
                <div *ngIf="selectedStore.mail">
                    <h4>{{'Contact with us' | translate}}</h4>
                    <address>
                        <strong>{{'Mail' | translate}}</strong>
                        <br>
                        <a>{{selectedStore.mail}}</a>
                    </address>
                </div>
                <div *ngIf="selectedStore.skype">
                    <address>
                        <strong>Skype </strong>
                        <br>
                        <a>{{selectedStore.skype}}</a>
                    </address>
                </div>
            </div>
            <div *ngIf="selectedStore.stockList.length > 0">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        {{'Available products in store' | translate}}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'Name' | translate}}</th>
                                <th>{{'Cost' | translate}}</th>
                                <th>{{'Type' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let stock of selectedStore.stockList">
                            <tr *ngFor="let product of stock.productList">
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.cost}}</td>
                                <td>{{product.type}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="!selectedStore.stockList.length > 0">
                <p>{{'Store is empty' | translate}}... </p>
            </div>
        </div>
    </div>
</div>